*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: poppins;
}
body{
    height: 100vh;
    background:linear-gradient(to right bottom , rgb(0, 115, 255) , rgb(1, 204, 1));
}
.navbar{
    height:60px;
    width:100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
a{
    height: 100px;
    color:black;
    text-decoration: none;
    border-radius: 12px;
    padding: 17px;
    transition: 0.5s;
}
a:hover{
    background-color: white;
}
label{
    margin: 10px;
}
h2{
    border:2px solid white;
    border-radius: 12px;
    margin: 80px;
    padding: 11px;
    transition: 0.5s;
}
h2:hover{
    background-color: white;
}
/* Calculator */
.calculator{
    background-color:rgba(255, 255, 255, 0.234);
    width: 300px;
    height:480px;
    border-radius: 20px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
#display{
    height:100px;
    width:100%;
    margin-bottom:20px;
    font-size:3rem;
    font-family: arial;
    text-align: right;
    overflow: hidden;
    border: none;
    color:white;
    font-weight: bold;
    border-radius:20px 20px 0 0;
}
.result{
    position: absolute;
    left:120%;
}
.keys{
position: relative;
left:5%;
}
.btn{
    height:55px;
    width:55px;
    border-radius: 50%;
    border:none;
    font-size: 2rem;
    font-family: arial;
    background-color: rgba(74, 74, 74, 0.37);
    color:white;
    margin:5px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(52, 52, 52);
}
.btn:active{
    background-color: rgb(74, 74, 74);
}
.operator{
    background-color: rgb(255, 149, 0);
}
.operator:hover{
    background-color: rgb(175, 103, 3);
}
.operator:active{
    background-color: rgb(253, 188, 97);
}